test/cellranger_reference/cellranger-tiny-ref/1.2.0/ filter=lfs diff=lfs merge=lfs -text
test/cellranger_reference/cellranger-tiny-ref/1.2.0/fasta filter=lfs diff=lfs merge=lfs -text
test/cellranger_reference/cellranger-tiny-ref/1.2.0/genes filter=lfs diff=lfs merge=lfs -text
test/cellranger_reference/cellranger-tiny-ref/1.2.0/pickle filter=lfs diff=lfs merge=lfs -text
test/cellranger_reference/cellranger-tiny-ref/1.2.0/reference.json filter=lfs diff=lfs merge=lfs -text
test/cellranger_reference/cellranger-tiny-ref/1.2.0/star filter=lfs diff=lfs merge=lfs -text
test/cellranger_reference/cellranger-tiny-ref/3.0.0 filter=lfs diff=lfs merge=lfs -text
test/cellranger_reference/cellranger-tiny-ref/3.0.0/fasta filter=lfs diff=lfs merge=lfs -text
test/cellranger_reference/cellranger-tiny-ref/3.0.0/genes filter=lfs diff=lfs merge=lfs -text
test/cellranger_reference/cellranger-tiny-ref/3.0.0/pickle filter=lfs diff=lfs merge=lfs -text
test/cellranger_reference/cellranger-tiny-ref/3.0.0/reference.json filter=lfs diff=lfs merge=lfs -text
test/cellranger_reference/cellranger-tiny-ref/3.0.0/star filter=lfs diff=lfs merge=lfs -text
test/cellranger_reference/cellranger-tiny-ref/3.0.0/star/exonGeTrInfo.tab filter=lfs diff=lfs merge=lfs -text
test/cellranger_reference/cellranger-tiny-ref/3.0.0/star/genomeParameters.txt filter=lfs diff=lfs merge=lfs -text
test/cellranger_reference/cellranger-tiny-ref/3.0.0/star/sjdbList.fromGTF.out.tab filter=lfs diff=lfs merge=lfs -text
test/cellranger_reference/cellranger-tiny-ref/3.0.0/fasta/genome.fa filter=lfs diff=lfs merge=lfs -text
test/cellranger_reference/cellranger-tiny-ref/3.0.0/fasta/genome.fa.fai filter=lfs diff=lfs merge=lfs -text
test/cellranger_reference/cellranger-tiny-ref/3.0.0/pickle/genes.pickle filter=lfs diff=lfs merge=lfs -text
test/cellranger_reference/cellranger-tiny-ref/3.0.0/star/chrNameLength.txt filter=lfs diff=lfs merge=lfs -text
test/cellranger_reference/cellranger-tiny-ref/3.0.0/star/Genome filter=lfs diff=lfs merge=lfs -text
test/cellranger_reference/cellranger-tiny-ref/3.0.0/star/SA filter=lfs diff=lfs merge=lfs -text
test/cellranger_reference/cellranger-tiny-ref/3.0.0/star/chrLength.txt filter=lfs diff=lfs merge=lfs -text
test/cellranger_reference/cellranger-tiny-ref/3.0.0/star/exonInfo.tab filter=lfs diff=lfs merge=lfs -text
test/cellranger_reference/cellranger-tiny-ref/3.0.0/star/geneInfo.tab filter=lfs diff=lfs merge=lfs -text
test/cellranger_reference/cellranger-tiny-ref/3.0.0/star/sjdbInfo.txt filter=lfs diff=lfs merge=lfs -text
test/cellranger_reference/cellranger-tiny-ref/3.0.0/star/sjdbList.out.tab filter=lfs diff=lfs merge=lfs -text
test/cellranger_reference/cellranger-tiny-ref/3.0.0/star/transcriptInfo.tab filter=lfs diff=lfs merge=lfs -text
test/cellranger_reference/cellranger-tiny-ref/3.0.0/genes/genes.gtf filter=lfs diff=lfs merge=lfs -text
test/cellranger_reference/cellranger-tiny-ref/3.0.0/star/SAindex filter=lfs diff=lfs merge=lfs -text
test/cellranger_reference/cellranger-tiny-ref/3.0.0/star/chrName.txt filter=lfs diff=lfs merge=lfs -text
test/cellranger_reference/cellranger-tiny-ref/3.0.0/star/chrStart.txt filter=lfs diff=lfs merge=lfs -text
/home/tom/repos/cellranger_convert/test/shared/dropseq-test/SRR1873277_Sample1_R2.fastq.gz filter=lfs diff=lfs merge=lfs -text
/home/tom/repos/cellranger_convert/test/shared/dropseq-test/SRR1873277_Sample1_R1.fastq.gz filter=lfs diff=lfs merge=lfs -text
/home/tom/repos/cellranger_convert/test/shared/icell8-test/72618_KU812_L001_R1_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
/home/tom/repos/cellranger_convert/test/shared/icell8-test/72618_KU812_L001_R2_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
/home/tom/repos/cellranger_convert/test/shared/icell8-test/72618_KU812_L002_R1_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
/home/tom/repos/cellranger_convert/test/shared/icell8-test/72618_KU812_L002_R2_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
/home/tom/repos/cellranger_convert/test/shared/cellranger-tiny-fastq/3.0.0/tinygex_S1_L002_I1_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
/home/tom/repos/cellranger_convert/test/shared/cellranger-tiny-fastq/3.0.0/tinygex_S1_L002_R1_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
/home/tom/repos/cellranger_convert/test/shared/cellranger-tiny-fastq/3.0.0/tinygex_S1_L002_R2_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
/home/tom/repos/cellranger_convert/test/shared/cellranger-tiny-fastq/1.2.0/read-I1_si-TTTCATGA_lane-008-chunk-001.fastq.gz filter=lfs diff=lfs merge=lfs -text
/home/tom/repos/cellranger_convert/test/shared/cellranger-tiny-fastq/3.0.0/tinygex_S1_L001_I1_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
/home/tom/repos/cellranger_convert/test/shared/cellranger-tiny-fastq/3.0.0/tinygex_S1_L001_R1_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
/home/tom/repos/cellranger_convert/test/shared/cellranger-tiny-fastq/3.0.0/tinygex_S1_L001_R2_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
test/shared/indrop-v3-test/Undetermined_S0_L001_R2_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
test/shared/indrop-v3-test/Undetermined_S0_L001_R3_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
test/shared/indrop-v3-test/Undetermined_S0_L001_R4_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
test/shared/indrop-v3-test/Undetermined_S0_L002_R1_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
test/shared/indrop-v3-test/Undetermined_S0_L002_R2_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
test/shared/indrop-v3-test/Undetermined_S0_L002_R3_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
test/shared/indrop-v3-test/Undetermined_S0_L002_R4_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
test/shared/indrop-v3-test/Undetermined_S0_L001_R1_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
test/shared/dropseq-test/SRR1873277_Sample1_R1.fastq.gz filter=lfs diff=lfs merge=lfs -text
test/shared/dropseq-test/SRR1873277_Sample1_R2.fastq.gz filter=lfs diff=lfs merge=lfs -text
test/shared/smartseq3-test/Smartseq3_diySpike_I1.fastq.gz filter=lfs diff=lfs merge=lfs -text
test/shared/smartseq3-test/Smartseq3_diySpike_I2.fastq.gz filter=lfs diff=lfs merge=lfs -text
test/shared/smartseq3-test/Smartseq3_diySpike_R1.fastq.gz filter=lfs diff=lfs merge=lfs -text
test/shared/smartseq3-test/Smartseq3_diySpike_R2.fastq.gz filter=lfs diff=lfs merge=lfs -text
test/shared/sciseq-v3-test/SRR7827205_S1_R1.fastq.gz filter=lfs diff=lfs merge=lfs -text
test/shared/sciseq-v3-test/SRR7827205_S1_R2.fastq.gz filter=lfs diff=lfs merge=lfs -text
test/shared/icell8-test/72618_KU812_L002_R2_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
test/shared/icell8-test/72618_KU812_L001_R1_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
test/shared/icell8-test/72618_KU812_L001_R2_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
test/shared/icell8-test/72618_KU812_L002_R1_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
test/shared/cellranger-tiny-fastq/3.0.0/tinygex_S1_L001_I1_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
test/shared/cellranger-tiny-fastq/3.0.0/tinygex_S1_L001_R1_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
test/shared/cellranger-tiny-fastq/3.0.0/tinygex_S1_L001_R2_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
test/shared/cellranger-tiny-fastq/3.0.0/tinygex_S1_L002_I1_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
test/shared/cellranger-tiny-fastq/3.0.0/tinygex_S1_L002_R1_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
test/shared/cellranger-tiny-fastq/3.0.0/tinygex_S1_L002_R2_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
whitelists/KAPA_UDI_Index2_i5.txt filter=lfs diff=lfs merge=lfs -text
whitelists/KAPA_UDI_Index1_i7.txt filter=lfs diff=lfs merge=lfs -text
