3.0.0 filter=lfs diff=lfs merge=lfs -text
3.0.0/fasta filter=lfs diff=lfs merge=lfs -text
3.0.0/genes filter=lfs diff=lfs merge=lfs -text
3.0.0/pickle filter=lfs diff=lfs merge=lfs -text
3.0.0/reference.json filter=lfs diff=lfs merge=lfs -text
3.0.0/star filter=lfs diff=lfs merge=lfs -text
3.0.0/star/exonGeTrInfo.tab filter=lfs diff=lfs merge=lfs -text
3.0.0/star/genomeParameters.txt filter=lfs diff=lfs merge=lfs -text
3.0.0/star/sjdbList.fromGTF.out.tab filter=lfs diff=lfs merge=lfs -text
3.0.0/fasta/genome.fa filter=lfs diff=lfs merge=lfs -text
3.0.0/fasta/genome.fa.fai filter=lfs diff=lfs merge=lfs -text
3.0.0/pickle/genes.pickle filter=lfs diff=lfs merge=lfs -text
3.0.0/star/chrNameLength.txt filter=lfs diff=lfs merge=lfs -text
3.0.0/star/Genome filter=lfs diff=lfs merge=lfs -text
3.0.0/star/SA filter=lfs diff=lfs merge=lfs -text
3.0.0/star/chrLength.txt filter=lfs diff=lfs merge=lfs -text
3.0.0/star/exonInfo.tab filter=lfs diff=lfs merge=lfs -text
3.0.0/star/geneInfo.tab filter=lfs diff=lfs merge=lfs -text
3.0.0/star/sjdbInfo.txt filter=lfs diff=lfs merge=lfs -text
3.0.0/star/sjdbList.out.tab filter=lfs diff=lfs merge=lfs -text
3.0.0/star/transcriptInfo.tab filter=lfs diff=lfs merge=lfs -text
3.0.0/genes/genes.gtf filter=lfs diff=lfs merge=lfs -text
3.0.0/star/SAindex filter=lfs diff=lfs merge=lfs -text
3.0.0/star/chrName.txt filter=lfs diff=lfs merge=lfs -text
3.0.0/star/chrStart.txt filter=lfs diff=lfs merge=lfs -text
